@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=IBM+Plex+Sans+Arabic&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: black;
    background-color: #F5F8FF;
}
label {
    color: #000;
}
#root{
    margin: 0;
    padding: 0;
}


